# Backend
contrato-service-backend/target/
contrato-service-backend/.env
contrato-service-backend/*.log

# Frontend 
contrato-app-frontend/node_modules/
contrato-app-frontend/build/
contrato-app-frontend/.env*


# Geral
.DS_Store
*.class
*.log
.idea/
.vscode/